body {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	background: grey;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#blank-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: black;
	cursor: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#blank-screen.hidden { display: none; }

#slide-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#slide-canvas, #draw-canvas, #temp-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#slide-canvas { z-index: 1; }
#draw-canvas { z-index: 3; }
#temp-canvas { z-index: 4; }

#doc-cam {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	transform: rotate(180deg);
}

#doc-cam.hidden {
	display: none;
}

#toolbar-container {
	position: absolute;
	z-index: 3;
	overflow: hidden;
	bottom: 0pt;
	left: 0pt;
	width: 100%;
	text-align: center;
}

#toolbar-container.hidden {
	display: none;
}

#toolbar {
	padding: 5px;
	background: white;
	border: 1px solid black;
	border-bottom: none;
	border-radius: 5px 5px 0px 0px;
	display: inline-block;

	transition: transform 0.5s;
	transform: translateY(0%);
}

#toolbar.hidden {
	position: relative;
	transform: translateY(100%);
}

#modal-backdrop {
	position: fixed; 
	display: none;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background: rgba(0, 0, 0, 0.5);
	z-index: 4;
}

#modal-backdrop.file {
	display: block;
}

#modal-content {
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);

	width: 40%;

	background-color: white;

	border-radius: 15px;
	padding: 20px;

	text-align: center;
}

.file #modal-content {
	font-size: 2em;
}

#modal-content button {
	margin-top: 1ex;
}

#file-input { display: none; }

#toolbar .hidden { display: none; }

#toolbar-redo { margin-right: 1em; }

#toolbar button {
	border: 1px solid rgb(175, 175, 175);
	background-color: rgb(240,240,240);
}

#toolbar button.selected {
	border-color: rgb(30, 30, 30);
	background-color: rgb(210, 210, 210);
}

#toolbar button:active {
	background-color: rgb(180, 180, 180);
}

#page-count {
	position: absolute;
	right: 1em;
	bottom: 1em;
}

button:disabled {
	/* prevent mouse-out events over toolbar buttons */
	pointer-events: none;
	border: 1px solid lightgrey;
}

button:disabled > img {
	opacity: 0.5;
}

button#toolbar-pin {
	position: absolute;
	left: -60px;
	border-radius: 40px;
	border: 1px solid rgb(175, 175, 175);
	background: rgba(240, 240, 240);
}
